body {
    padding: 0;
    margin: 0;
    background: #ecf0f1
}

.ck .ck-editor__editable {
    border: none !important;
    box-shadow: none !important
}

.ck .ck-hidden {
    display: none;
}

.slide-box {
    font-size: 0.2rem
}
